In [2]:
import numpy as np

Scalars

In [3]:
s = np.array(5)
s

array(5)

In [4]:
s.shape

()

In [5]:
x = s + 3
x

8

Vectors

In [6]:
v = np.array([1, 2, 3])
v

array([1, 2, 3])

In [7]:
v.shape

(3,)

In [9]:
el_0 = v[0]
el_1 = v[1]
el_0, el_1

(1, 2)

In [10]:
v[1:]

array([2, 3])

Matrices

In [11]:
m = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [12]:
m.shape

(3, 3)

In [13]:
m[2][2]

9

Tensors

In [16]:
t = np.array([[[[1], [2]], [[3], [4]], [[5], [6]]], [[[7], [8]],\
               [[9], [10]], [[11], [12]]], [[[13], [14]], [[15], [16]], [[17], [17]]]])
t.shape

(3, 3, 2, 1)

There are 3 external components. Each component is made of other 3 components. Each of them made of 2 components, each made of 1 component. 

Let's access the element equal to 5

In [19]:
y = t[0][2][0][0]
y

5

Reshape - Changing Shape

In [20]:
v1 = np.array([1, 2, 3, 4])
v1. shape

(4,)

In [21]:
v2 = v1.reshape(4, 1)
v2

array([[1],
       [2],
       [3],
       [4]])

In [22]:
x1 = v1[None, :]
x1

array([[1, 2, 3, 4]])

In [25]:
x2 = v1[:, None]
x2

array([[1],
       [2],
       [3],
       [4]])

Addition

In [26]:
x = np.array([1, 2, 3, 4, 5])
x1 = x + 5
x1

array([ 6,  7,  8,  9, 10])

Multiplication by a scalar

In [27]:
x3 = np.multiply(x, 5)
x3

array([ 5, 10, 15, 20, 25])

In [28]:
# Useful to reset matrix
m *= 0
m

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

Element-wise Multiplication

In [3]:
m = np.array([[1,2,3],[4,5,6]])
m

array([[1, 2, 3],
       [4, 5, 6]])

In [4]:
n = m * 0.25
n

array([[0.25, 0.5 , 0.75],
       [1.  , 1.25, 1.5 ]])

In [5]:
m * n

array([[0.25, 1.  , 2.25],
       [4.  , 6.25, 9.  ]])

In [6]:
np.multiply(m, n)

array([[0.25, 1.  , 2.25],
       [4.  , 6.25, 9.  ]])

Matrix product

In [9]:
a = np.array([[1,2,3,4], [5,6,7,8]])
a

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [8]:
b = np.array([[1,2,3], [4,5,6], [7,8,9], [10,11,12]])
b

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [10]:
a.shape, b.shape

((2, 4), (4, 3))

In [13]:
c = np.matmul(a, b)
c

array([[ 70,  80,  90],
       [158, 184, 210]])

In [14]:
a = np.arange(3*4*5*6)
a

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359])

In [16]:
a = np.arange(3*4*5*6).reshape((3,4,5,6))
a

array([[[[  0,   1,   2,   3,   4,   5],
         [  6,   7,   8,   9,  10,  11],
         [ 12,  13,  14,  15,  16,  17],
         [ 18,  19,  20,  21,  22,  23],
         [ 24,  25,  26,  27,  28,  29]],

        [[ 30,  31,  32,  33,  34,  35],
         [ 36,  37,  38,  39,  40,  41],
         [ 42,  43,  44,  45,  46,  47],
         [ 48,  49,  50,  51,  52,  53],
         [ 54,  55,  56,  57,  58,  59]],

        [[ 60,  61,  62,  63,  64,  65],
         [ 66,  67,  68,  69,  70,  71],
         [ 72,  73,  74,  75,  76,  77],
         [ 78,  79,  80,  81,  82,  83],
         [ 84,  85,  86,  87,  88,  89]],

        [[ 90,  91,  92,  93,  94,  95],
         [ 96,  97,  98,  99, 100, 101],
         [102, 103, 104, 105, 106, 107],
         [108, 109, 110, 111, 112, 113],
         [114, 115, 116, 117, 118, 119]]],


       [[[120, 121, 122, 123, 124, 125],
         [126, 127, 128, 129, 130, 131],
         [132, 133, 134, 135, 136, 137],
         [138, 139, 140, 141, 142, 143],
         [144, 145, 146, 147, 148, 149]],

        [[150, 151, 152, 153, 154, 155],
         [156, 157, 158, 159, 160, 161],
         [162, 163, 164, 165, 166, 167],
         [168, 169, 170, 171, 172, 173],
         [174, 175, 176, 177, 178, 179]],

        [[180, 181, 182, 183, 184, 185],
         [186, 187, 188, 189, 190, 191],
         [192, 193, 194, 195, 196, 197],
         [198, 199, 200, 201, 202, 203],
         [204, 205, 206, 207, 208, 209]],

        [[210, 211, 212, 213, 214, 215],
         [216, 217, 218, 219, 220, 221],
         [222, 223, 224, 225, 226, 227],
         [228, 229, 230, 231, 232, 233],
         [234, 235, 236, 237, 238, 239]]],


       [[[240, 241, 242, 243, 244, 245],
         [246, 247, 248, 249, 250, 251],
         [252, 253, 254, 255, 256, 257],
         [258, 259, 260, 261, 262, 263],
         [264, 265, 266, 267, 268, 269]],

        [[270, 271, 272, 273, 274, 275],
         [276, 277, 278, 279, 280, 281],
         [282, 283, 284, 285, 286, 287],
         [288, 289, 290, 291, 292, 293],
         [294, 295, 296, 297, 298, 299]],

        [[300, 301, 302, 303, 304, 305],
         [306, 307, 308, 309, 310, 311],
         [312, 313, 314, 315, 316, 317],
         [318, 319, 320, 321, 322, 323],
         [324, 325, 326, 327, 328, 329]],

        [[330, 331, 332, 333, 334, 335],
         [336, 337, 338, 339, 340, 341],
         [342, 343, 344, 345, 346, 347],
         [348, 349, 350, 351, 352, 353],
         [354, 355, 356, 357, 358, 359]]]])

In [17]:
b = np.arange(3*4*5*6)[::-1]
b

array([359, 358, 357, 356, 355, 354, 353, 352, 351, 350, 349, 348, 347,
       346, 345, 344, 343, 342, 341, 340, 339, 338, 337, 336, 335, 334,
       333, 332, 331, 330, 329, 328, 327, 326, 325, 324, 323, 322, 321,
       320, 319, 318, 317, 316, 315, 314, 313, 312, 311, 310, 309, 308,
       307, 306, 305, 304, 303, 302, 301, 300, 299, 298, 297, 296, 295,
       294, 293, 292, 291, 290, 289, 288, 287, 286, 285, 284, 283, 282,
       281, 280, 279, 278, 277, 276, 275, 274, 273, 272, 271, 270, 269,
       268, 267, 266, 265, 264, 263, 262, 261, 260, 259, 258, 257, 256,
       255, 254, 253, 252, 251, 250, 249, 248, 247, 246, 245, 244, 243,
       242, 241, 240, 239, 238, 237, 236, 235, 234, 233, 232, 231, 230,
       229, 228, 227, 226, 225, 224, 223, 222, 221, 220, 219, 218, 217,
       216, 215, 214, 213, 212, 211, 210, 209, 208, 207, 206, 205, 204,
       203, 202, 201, 200, 199, 198, 197, 196, 195, 194, 193, 192, 191,
       190, 189, 188, 187, 186, 185, 184, 183, 182, 181, 180, 179, 178,
       177, 176, 175, 174, 173, 172, 171, 170, 169, 168, 167, 166, 165,
       164, 163, 162, 161, 160, 159, 158, 157, 156, 155, 154, 153, 152,
       151, 150, 149, 148, 147, 146, 145, 144, 143, 142, 141, 140, 139,
       138, 137, 136, 135, 134, 133, 132, 131, 130, 129, 128, 127, 126,
       125, 124, 123, 122, 121, 120, 119, 118, 117, 116, 115, 114, 113,
       112, 111, 110, 109, 108, 107, 106, 105, 104, 103, 102, 101, 100,
        99,  98,  97,  96,  95,  94,  93,  92,  91,  90,  89,  88,  87,
        86,  85,  84,  83,  82,  81,  80,  79,  78,  77,  76,  75,  74,
        73,  72,  71,  70,  69,  68,  67,  66,  65,  64,  63,  62,  61,
        60,  59,  58,  57,  56,  55,  54,  53,  52,  51,  50,  49,  48,
        47,  46,  45,  44,  43,  42,  41,  40,  39,  38,  37,  36,  35,
        34,  33,  32,  31,  30,  29,  28,  27,  26,  25,  24,  23,  22,
        21,  20,  19,  18,  17,  16,  15,  14,  13,  12,  11,  10,   9,
         8,   7,   6,   5,   4,   3,   2,   1,   0])

In [18]:
b = np.arange(3*4*5*6)[::-1].reshape((5,4,6,3))
b

array([[[[359, 358, 357],
         [356, 355, 354],
         [353, 352, 351],
         [350, 349, 348],
         [347, 346, 345],
         [344, 343, 342]],

        [[341, 340, 339],
         [338, 337, 336],
         [335, 334, 333],
         [332, 331, 330],
         [329, 328, 327],
         [326, 325, 324]],

        [[323, 322, 321],
         [320, 319, 318],
         [317, 316, 315],
         [314, 313, 312],
         [311, 310, 309],
         [308, 307, 306]],

        [[305, 304, 303],
         [302, 301, 300],
         [299, 298, 297],
         [296, 295, 294],
         [293, 292, 291],
         [290, 289, 288]]],


       [[[287, 286, 285],
         [284, 283, 282],
         [281, 280, 279],
         [278, 277, 276],
         [275, 274, 273],
         [272, 271, 270]],

        [[269, 268, 267],
         [266, 265, 264],
         [263, 262, 261],
         [260, 259, 258],
         [257, 256, 255],
         [254, 253, 252]],

        [[251, 250, 249],
         [248, 247, 246],
         [245, 244, 243],
         [242, 241, 240],
         [239, 238, 237],
         [236, 235, 234]],

        [[233, 232, 231],
         [230, 229, 228],
         [227, 226, 225],
         [224, 223, 222],
         [221, 220, 219],
         [218, 217, 216]]],


       [[[215, 214, 213],
         [212, 211, 210],
         [209, 208, 207],
         [206, 205, 204],
         [203, 202, 201],
         [200, 199, 198]],

        [[197, 196, 195],
         [194, 193, 192],
         [191, 190, 189],
         [188, 187, 186],
         [185, 184, 183],
         [182, 181, 180]],

        [[179, 178, 177],
         [176, 175, 174],
         [173, 172, 171],
         [170, 169, 168],
         [167, 166, 165],
         [164, 163, 162]],

        [[161, 160, 159],
         [158, 157, 156],
         [155, 154, 153],
         [152, 151, 150],
         [149, 148, 147],
         [146, 145, 144]]],


       [[[143, 142, 141],
         [140, 139, 138],
         [137, 136, 135],
         [134, 133, 132],
         [131, 130, 129],
         [128, 127, 126]],

        [[125, 124, 123],
         [122, 121, 120],
         [119, 118, 117],
         [116, 115, 114],
         [113, 112, 111],
         [110, 109, 108]],

        [[107, 106, 105],
         [104, 103, 102],
         [101, 100,  99],
         [ 98,  97,  96],
         [ 95,  94,  93],
         [ 92,  91,  90]],

        [[ 89,  88,  87],
         [ 86,  85,  84],
         [ 83,  82,  81],
         [ 80,  79,  78],
         [ 77,  76,  75],
         [ 74,  73,  72]]],


       [[[ 71,  70,  69],
         [ 68,  67,  66],
         [ 65,  64,  63],
         [ 62,  61,  60],
         [ 59,  58,  57],
         [ 56,  55,  54]],

        [[ 53,  52,  51],
         [ 50,  49,  48],
         [ 47,  46,  45],
         [ 44,  43,  42],
         [ 41,  40,  39],
         [ 38,  37,  36]],

        [[ 35,  34,  33],
         [ 32,  31,  30],
         [ 29,  28,  27],
         [ 26,  25,  24],
         [ 23,  22,  21],
         [ 20,  19,  18]],

        [[ 17,  16,  15],
         [ 14,  13,  12],
         [ 11,  10,   9],
         [  8,   7,   6],
         [  5,   4,   3],
         [  2,   1,   0]]]])

In [19]:
np.dot(a, b)[2,3,2,1,2,2]

499128

In [21]:
sum(a[2,3,2,:] * b[1,2,:,2])

499128

Transpose

In [22]:
m = np.array([[1,2,3,4], [5,6,7,8], [9, 10, 11, 12]])
m

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [23]:
m.T

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

NumpyExam

In [49]:
# Use the numpy library
import numpy as np


def prepare_inputs(inputs):
    # TODO: create a 2-dimensional ndarray from the given 1-dimensional list;
    #       assign it to input_array
    input_array = (np.array([inputs]))
    
    # TODO: find the minimum value in input_array and subtract that
    #       value from all the elements of input_array. Store the
    #       result in inputs_minus_min
    min_el = np.min(input_array)
    inputs_minus_min = input_array - min_el

    # TODO: find the maximum value in inputs_minus_min and divide
    #       all of the values in inputs_minus_min by the maximum value.
    #       Store the results in inputs_div_max.
    max_el = np.max(inputs_minus_min)
    inputs_div_max = inputs_minus_min / max_el

    # return the three arrays we've created
    return input_array, inputs_minus_min, inputs_div_max
    

def multiply_inputs(m1, m2):
    # TODO: Check the shapes of the matrices m1 and m2. 
    #       m1 and m2 will be ndarray objects.
    #
    #       Return False if the shapes cannot be used for matrix
    #       multiplication. You may not use a transpose
    compatible = (m1.shape[1] == m2.shape[0]) 
    swap = (m2.shape[1] == m1.shape[0])
    if not(compatible) and not(swap):
        return compatible

    # TODO: If you have not returned False, then calculate the matrix product
    #       of m1 and m2 and return it. Do not use a transpose,
    #       but you swap their order if necessary
    if swap:
        mat_prod = np.matmul(m2, m1)
    else:
        mat_prod = np.matmul(m1, m2)
    return mat_prod
    

def find_mean(values):
    # TODO: Return the average of the values in the given Python list
    return sum(values) / len(values)


input_array, inputs_minus_min, inputs_div_max = prepare_inputs([-1,2,7])
print("Input as Array: {}".format(input_array))
print("Input minus min: {}".format(inputs_minus_min))
print("Input  Array: {}".format(inputs_div_max))

print("Multiply 1:\n{}".format(multiply_inputs(np.array([[1,2,3],[4,5,6]]), np.array([[1],[2],[3],[4]]))))
print("Multiply 2:\n{}".format(multiply_inputs(np.array([[1,2,3],[4,5,6]]), np.array([[1],[2],[3]]))))
print("Multiply 3:\n{}".format(multiply_inputs(np.array([[1,2,3],[4,5,6]]), np.array([[1,2]]))))

print("Mean == {}".format(find_mean([1,3,4])))

Input as Array: [[-1  2  7]]
Input minus min: [[0 3 8]]
Input  Array: [[0.    0.375 1.   ]]
Multiply 1:
False
Multiply 2:
[[14]
 [32]]
Multiply 3:
[[ 9 12 15]]
Mean == 2.6666666666666665